html,
body,
header,
#intro {
    height: 100%;

}
body{
    background-color: #fff8e1;
}

#btt{
    float: right;
    border-radius: 25px;
    
    
}

.fa {
    color: white;
    padding: 13px;
}
.fa-envelope-o, .fa-twitter, .fa-dribbble, .fa-linkedin, .fa-vimeo{
    padding: 2.5px;
    border-style: solid;
    border-width: thin;
    border-radius: 50%;
    border-color: #fff;
}

h6 {
    color: #fff;
    font-size: 4vw;
   
    font-family: 'Courgette', cursive;
    


}
h1{
    color: #ff6f00;
}
#we{
    line-height: inherit;
    font-weight: 550;
}
.color {
    color: #ffb300;

}
#hech{
    color: #ff6f00;
}
h3{
    color:#424242;
}

#intro {
 background-color: black;
/*    background: url("/img/back.jpg")no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#com{
     width: 100%;
    height: auto;
}


