html,
body,
header,
#intro {
    height: 100%;

}

a {

    color: #ffecb3;
    text-decoration: none;
    font-weight: bold;

}

a:hover {

    color: #ff6f00;
    text-decoration: none;

}

header {
    background: #000;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 2px solid #000;
    z-index: 100;

}

nav {
    float: right;
    padding: 20px;

}


ul {
    list-style: none;
}

li {
    display: inline-block;
    float: left;
    padding: 10px
}

#on {
    padding-top: 100px;
}

h2 {
    color: white;
    font-size: 5vw;
    font-style: italic;


}

.color {
    color: #ffb300;

}

#intro {
    background: url("/img/poolie.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
