html,
body,
header,
#intro {
    height: 100%;
    
}
#on{
    padding-top: 90px;}
h2{
    color: white;
    
    font-size: 5vw;

}
.color{
color: #ff6f00;
    font-weight: 600;
}
#intro {
    background: url("/img/poolie.jpg")no-repeat center center fixed;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}